#rename to .env

VITE_API_PREFIX=http://localhost:8002
VITE_RECENT_RESET=false
VITE_APP_NAME=AAVE
VITE_ANCHOR_EXPLORER=
VITE_APP_NETWORK=Ethereum
VITE_TOP_ASSETS_PROJECT_ID=aggregate_top_assets:febc2350ef6bc9b4dd13be60e29a92f622893d4e092ee3f2f988592f25e31390:aavev3
VITE_MARKET_STATS_PROJECT_ID=aggregate_24h_stats:febc2350ef6bc9b4dd13be60e29a92f622893d4e092ee3f2f988592f25e31390:aavev3
VITE_VOLUME_PROJECT_ID=aggregate_top_volume:90036fd572554d6e7fdb10d176fb11d8690abe66c2bf71a49053bd8cdcfa82f2:aavev3
VITE_ASSET_PROJECT_PREFIX=poolContract_total_supply
VITE_APR_6H_PROJECT_ID=aggregate_poolContract_6h_apr
VITE_APR_24H_PROJECT_ID=aggregate_poolContract_24h_apr
VITE_PROJECT_NAMESPACE=aavev3