#rename to .env

VITE_API_PREFIX=http://localhost:8002
VITE_RECENT_RESET=false
VITE_APP_NAME=AAVE
VITE_ANCHOR_EXPLORER=
VITE_APP_NETWORK=Ethereum
VITE_TOP_ASSETS_PROJECT_ID=aggregate_top_assets:0820ab4a771228a720127e62d918fad926382abceacfe35da015ff66173c5f5a:aavev3
VITE_MARKET_STATS_PROJECT_ID=aggregate_24h_stats:0820ab4a771228a720127e62d918fad926382abceacfe35da015ff66173c5f5a:aavev3
VITE_ASSET_PROJECT_PREFIX=poolContract_total_supply
VITE_PROJECT_NAMESPACE=aavev3