#rename to .env

VITE_API_PREFIX=http://localhost:8002
VITE_RECENT_RESET=false
VITE_APP_NAME=AAVE
VITE_ANCHOR_EXPLORER=
VITE_APP_NETWORK=Ethereum
VITE_TOP_ASSETS_PROJECT_ID=aggregate_top_assets:5f1b4c139168959a94781289395f06635663fd6456c612bbf55dd33f6a437243:aavev3
VITE_MARKET_STATS_PROJECT_ID=aggregate_24h_stats:5f1b4c139168959a94781289395f06635663fd6456c612bbf55dd33f6a437243:aavev3
VITE_VOLUME_PROJECT_ID=aggregate_top_volume:1d16e7e46fd37359f04e0ecd1bf99221c38d0d32ec7010ff26a211002dc42945:aavev3
VITE_ASSET_PROJECT_PREFIX=poolContract_total_supply
VITE_APR_6H_PROJECT_ID=aggregate_poolContract_6h_apr
VITE_APR_24H_PROJECT_ID=aggregate_poolContract_24h_apr
VITE_PROJECT_NAMESPACE=aavev3